
#post-container{
  display:flex;
  padding: 4px;
  justify-content: center;
  align-items: center;

}

.card{
  border-radius: 40px 40px 40px 40px;
  width: 25vw;
  height: 30vw;
  justify-content: space-between;

}

.title{
  font-size: 20px;
}
.image-container{
  display: flex;
  align-items: center ;
  justify-content: center;
  padding: 20px ;
}

.image-container img{
  display: flex;
  max-width: 70%;
  max-height: 70%;

}
.card-image{
  display: flex;
  width: 50%;
  height: auto;
}

.author{
  font-size: x-large;
  font-weight:bolder;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
